.DS_Store
.dropbox
.project
.coverage
.pydevproject
*.code-workspace
Pipfile*.*
/.settings
/htmlcov
/build
/dist
/docs/_build
/references
/pyubx2_*
/pyubx2-*
/pyubx2.egg*
/__pycache__
/.dbeaver
/pyubx2/__pycache__
/tests/__pycache__
*.pyc
/examples/ubxsandpit.py
/examples/temp*.py
/.pytest_cache/
pylint_report.txt
venv
output.*
